<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="5048576" executionTimeout="500" />
        <trust level="Full" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="SOAPAction, Content-Type" />
      </customHeaders>
    </httpProtocol>
        <defaultDocument>
            <files>
                <add value="Service.asmx" />
            </files>
        </defaultDocument>
  </system.webServer>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
